* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* some var */
  --the-best-color: orange;
}
.box {
  width: 3rem;
  height: 2rem;
  background-color: var(--the-best-color);
  /* step num 1 ani name */
  animation-name: move;
  /* step num 2 ani for how long*/
  animation-duration: 2s;
  /* opt */
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
/* step 3 your keyframes */
@keyframes move {
  0% {
    width: 4rem;
  }
  50% {
    width: 10rem;
    background-color: aqua;
  }
  100% {
    width: 50rem;
    background-color: black;
  }
}
/* other way for keyframes */
/* 
from {
   
  }
  to {
    
  }
*/
.shape {
  width: 3rem;
  height: 2rem;
  background-color: pink;
  animation-name: change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  display: block;
  position: absolute;
}
/* here */
@keyframes change {
  0% {
    opacity: 0;
    top: 0;
    left: 0;
  }
  50% {
    opacity: 0.5;
    top: 50%;
    /* left: 50%; */
  }
  100% {
    opacity: 1;
    top: 80%;
    /* left: 80%; */
  }
}
.dci {
  font-size: 3rem;
  animation-name: letter-moving;
  animation-duration: 8s;
}
.dci :nth-child(1) {
  color: lightblue;
  animation-name: letter-D;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.dci :nth-child(2) {
  color: blue;
  animation-name: letter-C;
  animation-duration: 8;
  animation-iteration-count: infinite;
}
.dci :nth-child(3) {
  color: cornflowerblue;
  animation-name: letter-I;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  /* animation: ; */
}
@keyframes letter-D {
  0% {
    font-size: 4rem;
  }
  50% {
    font-size: 5rem;
  }
  100% {
    font-size: 6rem;
  }
}
@keyframes letter-C {
  0% {
    font-size: 5rem;
  }
  50% {
    font-size: 3rem;
  }
  100% {
    font-size: 1rem;
  }
}
@keyframes letter-I {
  0% {
    font-size: 4rem;
  }
  50% {
    font-size: 7rem;
  }
  100% {
    font-size: 8rem;
  }
}
.rotating-box {
  width: 3rem;
  height: 2rem;
  background-color: rebeccapurple;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  display: block;
  position: absolute;
  top: 80%;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
    left: 25%;
  }
  50% {
    transform: rotate(180deg);
    left: 50%;
  }
  75% {
    transform: rotate(270deg);
    left: 75%;
  }
  100% {
    transform: rotate(360deg);
    left: 100%;
  }
}
/* More Advanced Cylon Eye Example */
.polling_message {
  color: white;
  position: absolute;
  left: 50%;
  margin-right: 2%;
  -webkit-animation: 4s linear 0s infinite alternate move_polling_message;
  animation: 4s linear 0s infinite alternate move_polling_message;
}
@-webkit-keyframes move_polling_message {
  from {
  }
  to {
    margin-left: 100%;
  }
}
@keyframes move_polling_message {
  from {
  }
  to {
    margin-left: 100%;
  }
}
.view_port {
  background-color: black;
  height: 25px;
  width: 100%;
  overflow: hidden;
}

.cylon_eye {
  background-color: red;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 25%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.9) 75%
  );
  color: white;
  height: 100%;
  width: 20%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
  animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}
@keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}
